@font-face {
    font-family: "open-sans";
    src: url();
    font-size: 1em;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 150px;
    background-color: rgba(94, 41, 154, .8);
    z-index: 2;
    position: relative;
    
}

#logotipo{
    position: relative;
    margin-top: -50px;
    margin-left: 150px;
}

header .header-black{
    background-color: #000;
    width: 100%;
    height: 40px;
}


header .header-black li{
    background-image: url("PNG/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 5px 10px ;
    
}

header .header-black li.club-01{
    background-position: 0px 0px;
}
header .header-black li.club-02{
    background-position: -48px 0px;
}
header .header-black li.club-03{
    background-position: -96px 0px;
}
header .header-black li.club-04{
    background-position: -140px 0px;
}
header .header-black li.club-05{
    background-position: -190px 0px;
}
header .header-black li.club-06{
    background-position: -240px 0px;
}
header .header-black li.club-07{
    background-position: -288px 0px;
}
header .header-black li.club-08{
    background-position: -330px 0px;
}
header .header-black li.club-09{
    background-position: -377px 0px;
}
header .header-black li.club-10{
    background-position: -430px 0px;
}
header .header-black li.club-11{
    background-position: -478px 0px;
}
header .header-black li.club-12{
    background-position: -530px 0px;
}
header .header-black li.club-13{
    background-position: -578px 0px;
}
header .header-black li.club-14{
    background-position: -628px 0px;
}
header .header-black li.club-15{
    background-position: -669px 0px;
}
header .header-black li.club-16{
    background-position: -715px 0px;
}
header .header-black li.club-17{
    background-position: -758px 0px;
}
header .header-black li.club-18{
    background-position: -804px 0px;
}
header .header-black li.club-19{
    background-position: -853px 0px;
}
header .header-black li.club-20{
    background-position: -896px 0px;
}
header .header-black li.club-21{
    background-position: -948px 0px;
}
header .header-black li.club-22{
    background-position: -1000px 0px;
}

header .header-black li a{
    width: 32px;
    height: 32px;
    display: block;
    
}



header #logotipo{
    position: absolute;

}

#menu{
    margin-top: 30px;
    font-family: "open-sans";

}

#menu li a{
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    text-decoration: none;

}

#search ::-webkit-input-placeholder{
    color: white;
}

#search button{
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    background-color: #4f257e;
    border-color: #4f257e;
    color: #fff;
}

#search input{
    width: 180px;
    height: 30px;
    background-color: #4f257e; 
    border: none;
}

section{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#banner{
    width: 100%;
    height: 828px;
    position: relative;
    background: url(PNG/banner.jpg) no-repeat;
    background-size: cover;
    background-position: 0px ;
    top: -140px;


}

#banner h1{
    top: 300px;
    position: relative;
    font-size: 92px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    left: 73px;
}

#banner h1 small{
    display: block;
    font-size: 32px;
    color: #fff;
}

